:root 
{
   --darkBlue: #0b2739;
   --lightColor: #f6f6f6;
}

@font-face 
{
   font-family: 'Telefonica';
   font-style: normal;
   font-weight: normal;
   src: url('/assets/fonts/Telefonica-Regular/Telefonica_PastazaType.ttf') format('truetype');
}

body 
{
   color: var(--darkBlue);
   font-family: 'Telefonica ';
   min-height: 100vh;
}

.container 
{
   width: 80%;
}

.nav 
{
   height: 80px;
   padding-left: 40px;
}   

.banner img 
{
   width: 100%;
}

.title 
{
   font-size: 2.1rem;
   margin: 0;
   padding: 45px 0 10px;
}

.subtitle
{
   font-size: 1.6rem;
}

.material-icons 
{
   margin-left: 15px;
}

.link 
{
   color: #708087;
}

.services
{
   background-image: url('../assets/img/bg_services_small.webp');
   background-repeat: no-repeat;
   background-size: cover;

   &__description 
   {
      color: var(--darkBlue);
      font-size: 1.2rem;
      margin: 17px 0 0 ;
      padding-bottom: 70px;
   }
}

.benefits 
{
   background: var(--lightColor);

   &__list 
   {
      margin: 20px 0 0; 
      padding-bottom: 70px;
      
      li 
      {
         display: flex;
         font-size: 1.1rem;
         margin-bottom: 14px;
      }
      
      img 
      {
         height: 20px;
         margin-right: 10px;
      }
   }
}

.use-cases
{
   &__description
   {
      background-image: url('../assets/img/background_2.webp');
      background-position-x: 25%;
      background-repeat: no-repeat;
      background-size: cover;

      .container 
      {
         text-align: center;
      }

      p 
      {
         font-size: 1.5rem;
         margin-bottom: 20px;
         padding: 0 10px;
      }
      
      p:nth-child(2)
      {
         margin-top: 40px;
      }
   
      p:last-child 
      {
         margin-bottom: 0;
         padding-bottom: 8px;
      }
   }

   &__images 
   {
      padding: 60px 0 20px;

      .item 
      {
         margin-bottom: 40px;
      }
   }
}

.requirements 
{
   background-color: #019df3;
   color: white;
   padding: 10px 0 60px;

   .container
   {
      width: 70%;
   }

   &__item 
   {
      padding: 40px 0;

      p 
      {
         font-size: 1.25rem;
         line-height: 1.2;
      }

      h3 
      {
         margin-top: 15px;
      }
   }
}

.carousel 
{
   margin-top: -40px;
   perspective: unset;

   .carousel-item
   {
      background-color: white;
      border: 1px solid #ababab;
      color: var(--darkBlue);
      display: grid;
      font-size: 1rem;
      justify-content: center;
      opacity: 1 !important;
      padding: 20px 0;

      img 
      {
         height: 90px;
         margin: 0 auto;
         width: auto;
      }
   }
}

.faq 
{
   background-color: var(--lightColor);

   h2 
   {
      font-size: 2.1rem;
      margin: 20px 0 0;
   }

   h3 
   {
      margin: 0;
      padding-top: 35px;
   }

   li 
   {
      font-size: 1.3rem;
      padding: 20px 0 0;
   }

   .collapsible
   {
      border: none;
      box-shadow: none;
      margin-top: 0;
   }

   .collapsible-body
   {
      padding: 2rem 0;
   }

   &__background 
   {
      background-color: var(--lightColor);
      padding: 1rem 0;
   }

   .collapsible-header i 
   {
      margin-right: 0;
   }
}

footer 
{
   background-color: var(--darkBlue);

   img 
   {
      padding: 20px 0 10px 10%;
   }

   .divider 
   {
      background-color: #383c3e;
   }

   .menu-footer 
   {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;

      &__title 
      {
         color: var(--lightColor);
      }

      li 
      {
         margin-bottom: 5px;
      }
   }
}

@media screen and (min-width:700px) and (max-width: 991px)
{
   .title
   {
      font-size: 2.5rem;

      br 
      {
         display: none;
      }
   }   

   .banner
   {
      padding: 45px 0 40px;
      background-color: #c3c3c3;
   }

   .services 
   {
      background-image: url('../assets/img/bg_services_medium.webp');

      .services__description 
      {
         font-size: 1.45rem;
         margin: 30px auto;
         width: 85%;
      }
   }

   .use-cases__images
   {
      .container 
      {
         width: 60%;
      }
   }
}

@media screen and (min-width: 992px)
{
   .title 
   {
      font-size: 2.5rem;
   }

   .services__description
   {
      font-size: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      width: 84%;
   }

   .services 
   {
      background-image: url('../assets/img/bg_services_large.webp');

      br 
      {
         display: none;
      }
   }

   .benefits 
   {
      padding-bottom: 70px;

      .content-benefits 
      {
         display: flex;
         justify-content: space-between;
      }

      .img-benefits
      {
         width: 40%;

         h2 
         {
            text-align: start;
         }
      }

      img:first-child
      {
         object-fit: contain;
      }

      &__list 
      {
         padding-bottom: 0;

         li 
         {
            font-size: 1.2rem;
         }
      }
   }

   .use-cases 
   {
      &__description 
      {
         .container 
         {
            text-align: start;
         }

         .title 
         {
            font-size: 1.5rem;
            padding: 80px 0 0;

            br 
            {
               display: none;
            }
         }
      }

      &__images 
      {
         padding-top: 80px !important;
      }
   }

   .requirements
   {
      padding-bottom: 50px;

      .title
      {
         padding: 70px 0 80px;

         br 
         {
            display: none;
         }
      }

      &__item:nth-child(2)
      {
         h3:nth-child(2)
         {
            margin-bottom: 45px;
         }
      }

      .container
      {
         width: 100%;
      }
   }

   .carousel-movistar .title br
   {
      display: none;
   }

   .faq 
   {
      padding-bottom: 60px;
      
      .subtitle
      {
         font-size: 1.4rem;
         padding-top: 0;
      }

      h2 
      {
         padding-bottom: 40px;
      }
   }
}