:root 
{
   --darkBlue: #0b2739;
}

@font-face 
{
   font-family: 'Telefonica';
   font-style: normal;
   font-weight: normal;
   src: url('/assets/fonts/Telefonica-Regular/Telefonica_PastazaType.ttf') format('truetype');
}

body 
{
   color: var(--darkBlue);
   display: flex;
   flex-direction: column;
   margin: 0;
   min-height: 100vh;
   padding: 0;
}

.nav 
{
   height: 80px;
   padding-left: 40px;
}   

.banner img 
{
   width: 100%;
}

.title 
{
   font-size: 2rem;
   margin: 0;
   padding: 55px 12px 10px;
   text-align: center;
}

.services
{
   background-image: url('../assets/img/background_1.webp');
   background-repeat: no-repeat;
   background-size: cover;

   &__description 
   {
      color: var(--darkBlue);
      font-size: 1.2rem;
      margin-bottom: 0;
      padding-bottom: 70px;
   }
}

.benefits 
{
   background: #f6f6f6;

   &__list 
   {
      margin: 20px 0 0; 
      padding-bottom: 70px;
      
      li 
      {
         display: flex;
         font-size: 1.1rem;
         margin-bottom: 14px;
      }
      
      img 
      {
         height: 20px;
         margin-right: 10px;
      }
   }
}







