:root 
{
   --darkBlue: #0b2739;
}

@font-face 
{
   font-family: 'Telefonica';
   font-style: normal;
   font-weight: normal;
   src: url('/assets/fonts/Telefonica-Regular/Telefonica_PastazaType.ttf') format('truetype');
}

*
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body 
{
   color: var(--darkBlue);
   font-family: 'Telefonica ';
   min-height: 100vh;
}

.nav 
{
   height: 80px;
   padding-left: 40px;
}   

.banner img 
{
   width: 100%;
}

.title 
{
   font-size: 2rem;
   margin: 0;
   padding: 45px 0 10px;
}

.services
{
   background-image: url('../assets/img/background_1.webp');
   background-repeat: no-repeat;
   background-size: cover;

   &__description 
   {
      color: var(--darkBlue);
      font-size: 1.2rem;
      margin: 17px 0 0 ;
      padding-bottom: 70px;
   }
}

.benefits 
{
   background: #f6f6f6;

   &__list 
   {
      margin: 20px 0 0; 
      padding-bottom: 70px;
      
      li 
      {
         display: flex;
         font-size: 1.1rem;
         margin-bottom: 14px;
      }
      
      img 
      {
         height: 20px;
         margin-right: 10px;
      }
   }
}

.use-cases
{
   &__description
   {
      background-image: url('../assets/img/background_2.webp');
      background-position-x: 25%;
      background-repeat: no-repeat;
      background-size: cover;

      p 
      {
         font-size: 1.5rem;
         margin-bottom: 20px;
         padding: 0 10px;
      }
      
      p:nth-child(2)
      {
         margin-top: 40px;
      }
   
      p:last-child 
      {
         margin-bottom: 0;
         padding-bottom: 8px;
      }
   }

   &__images 
   {
      padding: 60px 0 20px;

      .item 
      {
         margin-bottom: 40px;
      }
   }
}

.requirements 
{
   background-color: #019df3;
   color: white;
   padding: 10px 0 60px;

   .container-requirements 
   {
      margin: 0 auto;
      width: 70%;
   }

   &__item 
   {
      padding: 40px 0;

      h3 
      {
         font-size: 1.6rem;
         margin-top: 15px;
      }

      p 
      {
         font-size: 1.25rem;
         line-height: 1.2;
      }
   }
}






